@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}


body{
    display: block;
}


/*
[class~='resume-list']{
    font-style: italic;
}
*/

#skills{
    font-weight: bold;
}

.resume-list{
    color: rgb(169, 95, 134);
}

h1.test{
    color: rgb(127, 76, 124);
}

/*descendant*/
/* table thead{
    background-color: rgb(239, 203, 219);
} */

/*child & descendant
form > p, fieldset label{
    background-color: rgb(238, 217, 217);
}
*/

/*next-sibling*/
h2 + address {
    font-size: 10px;
}

/*subsequent sibling*/
h2 ~ blockquote{
    font-size: 25px;
}

/*pseudo classes
li:nth-child(2n+1){
    background-color: rgb(239, 225, 230);
}
*/
/* #aboutme p:nth-of-type(odd){
    background-color: rgb(223, 223, 223);
} */

#aboutme{
    display: flexbox;
    flex-wrap: wrap;
    padding-inline: 0.2em;
    padding-block: 0;
    margin-inline: 0;
    margin-block: 0;
    /* background-color: rgb(245, 202, 224); */
}

a:visited{
    color:rgb(222, 67, 162);
}

a:hover{
    color: black;
}

/* section:not(#testimonials){
    font-style: italic;
} */


h2::first-letter{
    color: rgb(174, 20, 115);
}

:is(ul.resume-list,ol) li{
    outline: solid 1px rgb(155, 156, 208);
}

a:where(:hover){
    background-color: rgb(214, 190, 231);
}

#testimonials blockquote{
    border: solid 1px rgb(176, 106, 182);
    padding: 0.8rem;
    margin:1rem;
}

main{
    max-width: clamp(700px,50%,900px);
    padding-inline: 2rem;
    padding-block: 0;
    margin-inline: auto;
    margin-block: 0;
    border: solid 0.1rem black;
    /* display: grid;
    grid-template-columns: 50px 1fr 50px; */
}

/* main > *{
    grid-column: 2;
} */

.full-bleed{
    grid-column: 1 / span 3;
    
}

.full-bleed > *{
    padding-inline: 2rem;
}

.resume-fieldset{
    border:none;
    margin-inline:0;
    margin-block: 0;
    padding-inline:0;
    padding-block: 0;
}

.resume-fieldset legend{
    padding-inline: 0;
    padding-block: 0;
}

nav{
    position:sticky;
    top: 0;
    z-index:3;
    background-color: white;
    display: flex;
    justify-content: center;
    padding-inline: 0;
}

nav ul li{
    display: inline-flex;
    margin-inline: 0.35em;
    margin-block:0;
}

/*z-index testing*/

/**
nav ul{
    z-index:1;
}


blockquote:first-of-type{
    position: absolute;
    top:0;
    left: 0;
    background-color: white;

}

#testimonials{
    isolation: isolate;
    z-index: 15;
}

**/

#testimonials{
    display: column;
}

#test-img{
    float: inline-start;
}

form > p label{
    display: block;
    margin-inline: 0.50em;
    margin-block: 0;
}

input,textarea,select{
    margin: 0.50em;
}

#portfolio{
    display: grid;
    grid-template: repeat(2,1fr) / repeat(5,1fr);
    grid-gap:10px;
    grid-template-areas: "portfolio anchor img1 img2 img3"
                          "portfolio anchor img4 img5 img6";
    grid-auto-flow: column;
    grid-auto-columns: 50px;
}

#portfolio img{
    max-inline-size: 100%;
}

#portfolio img:hover{
    opacity: 50%;
    transition: opacity 0.2s linear;
}

#portfolio h2{
    grid-area: portfolio;
}

img.anchor{
    grid-row: anchor;
}

.flex-header{
    flex-basis:100%;
}

